
/*==========  Desktop First Method  ==========*/

#header {
  background-color: orange;
}

#main-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#container {
  margin: 0 auto;
  width: 100%;
}

#navigation {
  float: right;
  width: 100%;
}

#navigation ul li {
  display: inline;
}

#navigation li a {
  float: left;
  border-right: 1px solid;
  color: #fff;
}

#navigation li a:hover {
  background: orange;
}

section.column1of3 {
  float: left;
  width: 26%;
  padding: 20px 0;
  margin: 0 3% 0 0;
}

section.column2of3 {
  float: left;
  vertical-align: middle;
  width: 26%;
  padding: 20px 0;
  margin: 0 3% 0 0;
  margin-left: 7%;
}

aside.column3of3 {
  float: right;
  width: 26%;
  padding: 20px 0;
  margin: 0 3% 0 0;
}

img.big-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
}
img.image {
  width: 100%;
}

#footer {
  text-align: center;

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media screen and (max-width : 720px) {
  #header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
  }

  #header h1 {
    font-size: 20px;
  }

  #main-center {
    width: 100%;
  }

  #container {
    margin: 0 auto;
    width: 100%;
  }

  #navigation {
    float: left;
    top: 0;
    width: 100%;
    text-align: center;
  }

  #navigation ul li {
    display: inline;
    text-align: center;
  }

  #navigation li a {
    float: left;
    border-right: 1px solid #fff;
    text-align: center;
  }

  #main-center {
    width: 100%;
  }

  section.column1of3 {
    float: left;
    width: 100%;
    padding: 20px 0;
    margin: 0 3% 0 0;
  }

  section.column2of3 {
    float: left;
    vertical-align: middle;
    width: 100%;
    padding: 20px 0;
    margin: 0 3% 0 0;
  }

  aside.column3of3 {
    float: right;
    width: 100%;
    padding: 20px 0;
    margin: 0 3% 0 0;
  }

  img.big-image {
    width: 100%;
  }

  img.image {
    width: 100%;
  }

  #footer {
    text-align: center;
  }

  #footer ul {
    display: none;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
  }

  #navigation {
    margin-top: 75px;
  }

  #navigation ul li {
    display: block;
  }

  #navigation ul li a {
    float: right;
  }

  #main-center {
    width: 100%;
  }

  img.big-image {
    width: 100%;
    height: auto;
  }

  #footer {
    text-align: center;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  #header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
  }

  #navigation {
    margin-top: 75px;
  }

  #navigation ul li {
    display: block;
  }

  #navigation ul li a {
    float: none;
  }

  #main-center {
    width: 100%;
  }

  img.big-image {
    width: 100%;
    height: auto;
  }

  #footer {
    text-align: center;
  }
}
