@media print {
  #header,
  #navigation {
    display: none;
  }
  #footer ul {
    display: none;
  }
  #content {
    width: 100%;
    margin-right: 0px;
  }
  .big-image {
    display:none;
  }
  .image {
    display: none;
  }
  p,strong,span {
    display: inline;
  }
}
